body {
    font-family: Arial, sans-serif;
    text-align: center;
    /*font-size: 400%;*/
}

.div_btn {
    background-color: gray;
}

.div_btn:hover {
    background-color: white;
}

.div_btn:active {
    background-color: purple;
}

a, a:hover, a:visited {
    color: black;
}